@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{

	width: 85%;
	margin: auto;
	font-family: 'Raleway', sans-serif;

}

a:visited{
	color: black;
}


.hautPage{

	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.hautPage img{
	width: 60px;
	height: 30px;
	padding-top: 40px;
}

.menu ul{

	position: relative;
	left: -100%;
	width: 200%;
	display: flex;
	margin:0px;
	padding: 0px;
	list-style-type: none;
	justify-content: space-around;

}

nav ul li{

	padding-top: 40px;
	/*text-shadow: 1px 1px #0065FC;*/

}

nav ul .hebergement{
	border-top: 2px solid #0065FC;
	padding-bottom: 2px;
	text-align: center;
	width:30%;
	
}

.fleche{

	width: 40px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 40px;
	border:1px solid #F2F2F2;
	background-color: #F2F2F2;
	color:#0065FC;
	position: fixed;
	margin-left: 60px;

}

.fleche:hover.fleche{

	border:1px solid black;
	cursor: pointer;

}

.bluecolor{
	color: #0065FC;
	font-weight: bold;
}

.hebergement a{

	color: #0065FC;
	text-decoration: none;

}

header h2{
	margin-bottom: 0%;
}

header p{
	margin-top: 0.5%;
}

.activites a{
	text-decoration: none;

	color: black;
}

.icone{
	width: 30px;
	height: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	line-height: 30px;
	background-color: #F2F2F2;
}

.localisation{

	display: flex;
	align-items: center;
}

.ztexte{

	position: relative;
	top: 7.5px;
	height: 28px;
	border-style: solid;
	border-color: #F2F2F2;
	padding-left: 10px;
	font-weight: bold;

}

.bouton{

	position: relative;
	left: -4px;
	top: 7.2px;
	height: 33px;
	width: 100px;
	border:2px solid #0065FC;
	background-color: #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;

}

.bouton:hover{

	cursor: pointer;
}

.bouton_filtre{

	font-weight: bold;
}

.filtres{
	width: 100%;
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.liste_filtre{

	width: 100%;
	height: 35px;
	display: flex;
}

.groupe{

	position: relative;
	display: flex;
	align-items: center;
	width: 15%;
	height: auto;
	margin-left: 20px;
	border:2px solid #F2F2F2;
	border-radius: 20px;
}

.groupe:hover.groupe{
	background-color:#EEEEEE;
	font-size: 1.6em;
	transition: all 0.5s;
	border-color: black;
}

.icone_groupe{

	position: absolute;
	left: -2px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border:2px solid #DEEBFF;
	border-radius: 40px;
	background-color: #DEEBFF;
	color: #0065FC;
	
}

.filtres input{

	position: absolute;
	width: 75%;
	text-align: left;
	border:none;
	padding-left: 4px;
	margin-left: 40px;
	background-color: transparent;
	padding-right: 20px;

}

.filtres p{
	padding-top: 4px;
	font-weight: bold;
}

.groupe:hover input{
	cursor: pointer;

}

.info{
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.icone_info{
	position: relative;
	top: -4px;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	text-align: center;
	line-height: 20px;
	border:2px solid #F2F2F2;
	color: #0065FC;
	border-radius: 40px;
}	

.section1{
	display: flex;
	margin-bottom: 50px;
}

.art_hebergement{

	width: 68%;
	height: 590px;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin-top: 2%;
	margin-right: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 18px;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hebergement1{

	width: 67%;
	display: flex;
	flex-direction: row;
	margin-bottom:245px;
	justify-content: space-between;
}

.Site{

	position: absolute;
	width: 15.2%;
	height: 205px;
	margin-right: 50px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 3px 3px 10px #D3D5D5;

}

.hebergement2{
	width: 67%;
	display: flex;
	margin-bottom: 235px;
	justify-content: space-between;
}

.images img{
	width: 100%;
	height: 130px;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.Site h4{
	position: relative;
	top: -15px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.Site p{
	position: relative;
	top: -20px;
	font-size: 0.8em;
	margin-left: 5px;
}

.etoile{
	position: relative;
	top: -25px;
	font-size: 0.6em;
	margin-left: 5px;
}

.bleu{

	color: #0065FC;
}

.gris{

	color: #D9E0DF;
}

span{
	font-weight: bold;
}

.populaire{

	width: 38%;
	height:590px;
	border:2px solid #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 10px;
	margin-top: 2%;
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 32px;
	margin-left: 30px;

}

.titre_aside{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px; 
}

.Site_populaire{

	display: flex;
	background-color: #FFFFFF;
	width: 91%;
	height: 150px;
	padding: 3px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 3px 3px 15px #D3D5D5;


}

.image_site_populaire img{

	width: 120px;
	height: 150px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	object-fit: cover;
	margin-right: 15px;

}

.texte_populaire h4{
	position: relative;
	top:-10px;
}

.texte_populaire p{
	position: relative;
	font-size: 0.8em;
	top:-20px;
}

.etoile_populaire{

	position: relative;
	font-size: 0.6em;
	top:20px;

}

footer a, section a{
	text-decoration: none;
	color: black;
}



.groupe_activité{

	width: 100%;
	height: 460px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.moyen{
	margin-bottom: 13px;
}

.img_grand img{
	width: 100%;
	height:400px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.img_moyen img{
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.img_petit img{
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.Activités{
	width: 22%;
	height: 100%;
}

.titre_activité{

	position: relative;
	top: -25px;
	padding-left: 30px;
	height: 60px;
	line-height: 60px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 3px 3px 15px #D3D5D5;

}

.bas_page{

	width: 107%;
	margin-left: -40px;
	display: flex;
	background-color:#F2F2F2;

}

.sous_groupe{

	margin-left:30px;
	margin-right: 180px;
	margin-top: 30px;
}

.p1{
	position: relative;
	top: -10px;
}

.p2{
	position: relative;
	top: -12px;
}

.p3{
	position: relative;
	top: -15px;
}
